@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body{
    background-color: black;
}

.titulo{
    text-align: center;
    margin-top: 25px;
    background-color: pink;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
