@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body{
    background-color: black;
}

header{
    margin-top: 25px;
    background-color: pink;
}

main{
    color: white;
}

.titulo{
    text-align: center;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-size: 75px;
    font-style: normal;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: pink;
    text-align: center;
    height: 3em;
}

.texto{
    margin-top: 45px;
    margin-bottom: 45pxa;
}

.texto h2{
    font-size: 40px;
}

.texto p{
    font-size: 35px;
}

.texto li{
    font-size: 35px;
}